# Canonical (HTTP -> HTTPS y WWW -> sin WWW)
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.wordpress-jess\.local$ [NC,OR]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://wordpress-jess.local%{REQUEST_URI} [R=301,L]

</IfModule>



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress